{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Maktab</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="{% static 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' %}"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{% static 'css/open-iconic-bootstrap.min.css '%}"
    />
    <link rel="stylesheet" href="{% static 'css/animate.css '%}" />

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css '%}" />
    <link
      rel="stylesheet"
      href="{% static 'css/owl.theme.default.min.css '%}"
    />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css '%}" />

    <link rel="stylesheet" href="{% static 'css/aos.css '%}" />

    <link rel="stylesheet" href="{% static 'css/ionicons.min.css '%}" />

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css '%}" />
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css '%}" />

    <link rel="stylesheet" href="{% static 'css/flaticon.css '%}" />
    <link rel="stylesheet" href="{% static 'css/icomoon.css '%}" />
    <link rel="stylesheet" href="{% static 'css/style.css '%}" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"
          ><i class="flaticon-university"></i>4-Maktab <br /><small
            >Dang`ara tumani</small
          ></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span>Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {{ index }}">
              <a href="{% url 'index' %}" style="font-size: 16px !important;" class="nav-link">Asosiy sahifa</a>
            </li>
            <li class="nav-item {{ about }}">
              <a href="{% url 'about' %}"  style="font-size: 16px !important;" class="nav-link">Biz haqimizda</a>
            </li>
            <li class="nav-item {{ course }}">
              <a href="{% url 'course' %}" style="font-size: 16px !important;"  class="nav-link"
                >Qo`shimcha kurslar</a
              >
            </li>
            <li class="nav-item {{ teacher }}">
              <a href="{% url 'teacher' %}" style="font-size: 16px !important;"  class="nav-link">O`qituvchilar</a>
            </li>
            <li class="nav-item {{ blog }}">
              <a href="{% url 'blog' %}" style="font-size: 16px !important;"  class="nav-link">Galereya</a>
            </li>

            <li class="nav-item {{ event }}">
              <a href="{% url 'event' %}"  style="font-size: 16px !important;" class="nav-link">Tadbirlar</a>
            </li>
            <li class="nav-item cta">
              <a href="{% url 'contact' %}" style="font-size: 17px !important;"  class="nav-link"
                ><span>Aloqa</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

    {% block content %} {% endblock content %}

    <footer
      class="ftco-footer ftco-bg-dark ftco-section img"
      style="
        background-image: url(images/bg_2.jpg);
        background-attachment: fixed;
      "
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-3">
            <div class="ftco-footer-widget mb-4">
              <h2>
                <a class="navbar-brand" href="{% url 'index' %}"
                  ><i class="flaticon-university"></i>4-maktab <br /><small
                    >Dang`ara tumani</small
                  ></a
                >
              </h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
              <ul
                class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
              >
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Recent Blog</h2>
              <div class="block-21 mb-4 d-flex">
                <a
                  class="blog-img mr-4"
                  style="background-image: url('images/image_1.jpg')"
                ></a>
                <div class="text">
                  <h3 class="heading">
                    <a href="#"
                      >Even the all-powerful Pointing has no control about</a
                    >
                  </h3>
                  <div class="meta">
                    <div>
                      <a href="#"
                        ><span class="icon-calendar"></span> July 12, 2018</a
                      >
                    </div>
                    <div>
                      <a href="#"><span class="icon-person"></span> Admin</a>
                    </div>
                    <div>
                      <a href="#"><span class="icon-chat"></span> 19</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a
                  class="blog-img mr-4"
                  style="background-image: url(static/images/image_2.jpg)"
                ></a>
                <div class="text">
                  <h3 class="heading">
                    <a href="#"
                      >Even the all-powerful Pointing has no control about</a
                    >
                  </h3>
                  <div class="meta">
                    <div>
                      <a href="#"
                        ><span class="icon-calendar"></span> July 12, 2018</a
                      >
                    </div>
                    <div>
                      <a href="#"><span class="icon-person"></span> Admin</a>
                    </div>
                    <div>
                      <a href="#"><span class="icon-chat"></span> 19</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Site Links</h2>
              <ul class="list-unstyled">
                <li><a href="{% url 'index' %}" class="py-2 d-block">Home</a></li>
                <li><a href="{% url 'about' %}" class="py-2 d-block">About</a></li>
                <li><a href="{% url 'course' %}" class="py-2 d-block">Courses</a></li>
                <li><a href="#" class="py-2 d-block">Students</a></li>
                <li><a href="#" class="py-2 d-block">Video</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li>
                    <span class="icon icon-map-marker"></span
                    ><span class="text"
                      >203 Fake St. Mountain View, San Francisco, California,
                      USA</span
                    >
                  </li>
                  <li>
                    <a href="tel://+9998916895412"
                      ><span class="icon icon-phone"></span
                      ><span class="text">+2 392 3929 210</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-envelope"></span
                      ><span class="text">info@yourdomain.com</span></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="icon-heart" aria-hidden="true"></i> by
              <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle
          class="path-bg"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke="#eeeeee"
        />
        <circle
          class="path"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke="#F96D00"
        />
      </svg>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
    <script src="{% static 'js/scrollax.min.js' %}"></script>
    <script src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false' %}"></script>
    <script src="{% static 'js/google-map.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
