{% extends 'base.html' %} {% load static %} {% block content %}
<div
  class="hero-wrap hero-wrap-2"
  style="
    background-image: url({% static 'images/bg_2.jpg' %});
    background-attachment: fixed;
  "
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
      data-scrollax-parent="true"
    >
      <div class="col-md-8 ftco-animate text-center">
        <p class="breadcrumbs">
          <span class="mr-2"><a href="{% url 'index' %}">Home</a></span>
          <span class="mr-2"><a href="{% url 'teacher' %}">Teacher</a></span>
          <span>Teacher Details</span>
        </p>
        <h1 class="mb-3 bread">Teacher Details</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12 mb-5">
            <div class="teacher-details d-md-flex">
              <div
                class="img ftco-animate"
                style="background-image: url({{ teacher.image.url }});"
              ></div>
              <div class="text ftco-animate">
                <h3>{{ teacher.name }}</h3>
                <span class="position">{{ teacher.darajasi }}</span>
                <p>{{ teacher.text }}</p>
                <div class="mt-4">
                  <h4>Social Link</h4>
                  <p class="ftco-social d-flex">
                    <a
                      href="{{ teacher.telegram }}"
                      class="d-flex justify-content-center align-items-center"
                      ><span class="icon-telegram"></span
                    ></a>
                    <a
                      href="{{ teacher.twitter }}"
                      class="d-flex justify-content-center align-items-center"
                      ><span class="icon-twitter"></span
                    ></a>
                    <a
                      href="{{ teacher.facebook }}"
                      class="d-flex justify-content-center align-items-center"
                      ><span class="icon-facebook"></span
                    ></a>
                    <a
                      href="{{ teacher.instagram }}"
                      class="d-flex justify-content-center align-items-center"
                      ><span class="icon-instagram"></span
                    ></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 bg-light mt-3 p-5 ftco-animate">
            <h4 class="mb-4">Send a Message</h4>
            <form action="{% url 'contact1' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your Name"
                  name = 'name'
                />
              </div>
              <div class="form-group">
                <input
                  name="email"
                  type="text"
                  class="form-control"
                  placeholder="Your Email"
                />
              </div>
              <div class="form-group">
                <textarea
                  name="msg"
                  id=""
                  cols="30"
                  rows="7"
                  class="form-control"
                  placeholder="Message"
                ></textarea>
              </div>
              <div class="form-group">
                <input
                  type="submit"
                  value="Send Message"
                  class="btn btn-primary py-3 px-5"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div
          class="col-md-7 text-center heading-section heading-section-white ftco-animate"
        >
          <h2>Subcribe to our Newsletter</h2>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in
          </p>
          <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-8">
              <form action="{% url 'contact1' %}" class="subscribe-form">
                <div class="form-group d-flex">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter email address"
                  />
                  <input type="submit" value="Subscribe" class="submit px-3" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
